@model UserModel

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Cadastrar-se";
}

<div class="center">
    <div class="form-container">
        <form asp-controller="User" asp-action="RegisterUser" method="post">
            <div>
                <img src="~/image/logo.png" alt="Logo" width="140" height="130">
            </div>
            <br>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="mb-3">
                <label for="inputName" class="form-label">Nome</label>
                <input asp-for="Name" type="text" class="form-control" id="inputName" placeholder="Digite seu nome">
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "erro-message" })
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input asp-for="Email" type="text" class="form-control" id="inputEmail" placeholder="Digite seu e-mail">
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "erro-message" })
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Senha</label>
                <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha">
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "erro-message" })
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <br>
            <div align=center>
                <a asp-controller="Home" asp-action="Index" style="text-decoration:none">Voltar</a>
            </div>
        </form>
    </div>
</div>
